/**
 * @name Discord 11
 * @description Based on Windows 11's UI
 * @author Lorenz
 * @authorId 838620835282812969
 * @version 1
 * @invite V5Vd2bsJZs
 * @donate https://patreon.com/electrabot/
 * @website https://darshan.studio/
 * @source https://github.com/Dqrshan/Discord-11/blob/main/base.css
*/

/* Main */
@import url(https://raw.githubusercontent.com/Dqrshan/Discord-11/main/base.css);

/* Emojis */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css);

/*--------------------------------------------------------------
                           Settings
---------------------------------------------------------------*/
:root {
    --wallpaper-is: none; /* Wallpaper - Replace de url only */
    --blur-size: 24px; /* Amount of blur in pixels [24px is default] */
    --opacity-thing: 0.6; /* Value from 0 to 1 [0.6 is default] */
    --server-size: 48px; /* The size of the server icons [48px is default] */

    /* HSL(Hue, Saturation, Lightness). This values will change the accent color (That blue color in most buttons) */
    --H: 199; /* Value only number [199 is default] */
    --S: 100%; /* Value in % [100% is default] */
    --L: 69%; /* Value in % [69% is default] */
}
